head
    link(rel='stylesheet' type='text/css' href=webRoot+'/css/slide-selector.css')
    script(src=webRoot+'/js/slide-selector.js')

body.column.center
    div.column(style="flex:1; width:80vw;")
        h1 Available slides
        div.column#directoryViewer
            input#directoryPath(readonly value="/")
            ul#directoryListing
