head
    link(rel='stylesheet' type='text/css' href='/css/slide-selector.css')
    //link(rel='stylesheet' type='text/css' href='/animate.css/animate.min.css')
    //link(rel='stylesheet' type='text/css' href='/fontawesome-free/css/all.css')
    script(src='/jquery/jquery.min.js')
    script(src='/js/slide-selector.js')

body.column.center
    div.column(style="flex:1; width:80vw;")
        h1 Available slides
        div.column#directoryViewer
            input#directoryPath(readonly value="/")
            ul#directoryListing
