/** font definitions **/

/*@import url('https://fonts.googleapis.com/css?family=Titillium+Web');*/
@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
         url('../fonts/titilliumweb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/** Helper classes for layout **/
.column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
}

.row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/** Global style classes **/
html, body {
    margin: 0;
    height: 100%;
}

:not(.slide) {
    font-family: 'Titillium Web', sans-serif;
}

a.button-link {
    padding: 10px;
    text-decoration: none;
    background-color: white;
    color: black;
    border: solid 2px black;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    margin: 5px;
}

a.button-link:hover {
    background-color: black;
    color: white;
}
