@import "global.css"

/* Style the sidebar */

/* Style the slide viewer */

a.slide-control-button {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: black;
    transition: all 0.2s ease-in-out;
}

a.slide-control-button:hover {
    color: grey;
    cursor: pointer;
}

a.slide-control-button > i {
    padding: 10px;
}

h1 {
    margin: 0px;
}

@media (orientation:landscape) {    /* sanity check only works for sane aspect ratios */
    .slide-controls {
        height: 15vh;
    }

    .ratio-container {
        position: relative;

        height: 80vh;
        width: calc(80vh * var(--ratio));
        border: solid 2px black;

        box-sizing: border-box; /** force the border to be counted in size **/
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

@media (orientation:portrait) {
    .slide-controls {
        height: 15vw;
    }

    .ratio-container {
        position: relative;

        height: calc(80vw / var(--ratio));
        width: 80vw;
        border: solid 2px black;

        box-sizing: border-box; /** force the border to be counted in size **/
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}

.ratio-container > p-slide {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    word-wrap: break-word;
}

/* to support animations */
.hidden {
    visibility: hidden;
}
